@import "common.less";

* {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

div#main {
  background: #1f8dd6;
  z-index: 1;
}

.control-text {
  text-align: center;
}

.control-button {
  width: 100%;
  height: 100vh;
  border: 0.2em black solid;
}
.control-arrow {
    color: ghostwhite;
    text-shadow: rgb(5, 5, 5) 0 0 0.25em;
}
.control-text {
  font-size: 2em;
  font-weight: bold;
}

.ctl-btn {
  height: 100vh;
  background: rgba(0,0,0,0);
  overflow: hidden;
}
.direction-control-button {
  width: 50vw;
  .ctl-btn;
}
.third-control-button {
  width: 33vw;
  .ctl-btn;
}

.btn {
  font-size: 100%;
}

#honk {
  background: rgba(127,127,200,0.5);
}

.btn-honk {
  background: maroon;
  width: 75%;
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 5em;
  border: 1em solid white;
  p {
    text-align: center;
    font-size: 125%;
    color: ghostwhite;
  }
}


#leader {
  background: rgba(127,200,200,0.75);
}

.btn-vert {
  height: 33vh;
  width: 100%;
  background: wheat;
}
.btn-horiz {
  height: 34vh;
  width: 100%;
  background: gray;
}

#default {
  background: lightcoral;
}

.btn-active:active {
  background: blue;
}

#waiting {
  background: grey;
}