div#main {
  background: #1f8dd6;
  z-index: 1;
}
.controls {
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.control-text {
  text-align: center;
}

.control-button {
  width: 50%;
  height: 50vh;
}

.btn.left {
  background: #108d36;
}

.btn.right {
  background: #907d56;
}

.btn {
  outline: 1px dotted red;
}