.floater {
  margin: 0.2em;
  padding: 0.3em;
  font-size: 3em;
}

.racer-hud {
  .left {
    float: left;
    .lap-count {
      color: rgb(241, 241, 241);
      background: rgba(0, 0, 0, 0.64);
      border-radius: 0.2em;
      .floater;
      .lap-total {
        font-size: 65%;
      }
    }
  }
  .right {
    float: right;
    .racer-place {
      .floater;
      margin-top: 0;
      font-weight: bold;
      font-size: 8em;
      padding-top: 0.15em;
      .suffix {
        font-weight: normal;
        font-size: 65%;
      }
    }
  }
  .message {
    padding-top: 40%;
    text-align: center;
    p {
      margin: 2em;
      background: rgba(47, 47, 47, 0.18);
      color: #E6E5E5;
      font-size: 2em;
      border-radius: 1em;
    }
  }
}
