.racer-hud {
  .left {
    float: left;
    .lap-count {
      color: rgb(241, 241, 241);
      background: rgba(0, 0, 0, 0.64);
      border-radius: 0.2em;
      margin: 0.2em;
      padding: 0.3em;
      font-size: 3em;
    }
  }
  .right {
    float: right;
  }
}