@import "common.less";
@import "racer.hud.less";
@import "animate.custom.min.less";

@border-small-value: 0.1em solid teal;
@border-big-value: 1.4em solid teal;

.control-box.selected {
  .flex-center {
    border-left: @border-big-value;
    border-right: @border-big-value;
    background: #DBA;
  }
}

.flex-center {
  border-left: @border-small-value;
  border-right: @border-small-value;
  div.flex-container {
    height: 25vw;
    width: 25vw;
    .control-arrows {
      text-align: center;
    }
    div.image-wrapper {
      text-align: center;
      img {
        width:20em;
      }
    }
  }
}

#track-name {
  text-align:  center;
}

#race-view {
  z-index: 1;
}

#main {
  z-index: 100;
  background: white;
}

#loading-view {
  z-index: 105;
  background: teal;
}


.render-canvas {
  width   : 100%;
  height  : 100%;
  touch-action: none;
}

@count-down-color: #E74C3C;

.count-down {

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal bold "Atomic Age", Helvetica, sans-serif;
  color: @count-down-color;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 0 @count-down-color , -1px -1px 0 @count-down-color , 1px -1px 0 @count-down-color , -1px 1px 0 @count-down-color , 4px 4px 8px  lighten(@count-down-color, 20%) , -4px 4px 8px lighten(@count-down-color, 20%) , 4px -4px 8px lighten(@count-down-color, 20%) , -4px -4px 8px lighten(@count-down-color, 20%) ;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);

}

.pulsate {
    -webkit-animation: pulsate 0.3s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation: pulsate 0.3s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}
@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}


#ready-set {
  // background: rgba(0,0,0,.25);
  h1 {
    font-size: 40vh;
    text-align: center;
  }
}

.leaderboard {
  background: rgba(255, 224, 224, 0.6);
  text-align: center;
}

.rank-line {
  height: 10vh;
}
.place-rank {
  font-size: 8vh;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}


.total-center {
  display:flex;
  justify-content:center;
  align-items:center;
}
.center-inner-div {
  display:flex;
  justify-content:center;
  align-items:center;
}

.Aligner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Aligner-item--fixed {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  max-width: 50%;
}

.Aligner-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.leaderboard-title {
  font-size: 10vh;
  margin: 0.2em 0 0;
  color: @header-color;
}

.lap-time {
  font-family: monospace;
}