@import "common.less";

@border-small-value: 0.1em solid teal;
@border-big-value: 1.4em solid teal;

.control-box.selected {
  .flex-center {
    border-left: @border-big-value;
    border-right: @border-big-value;
    background: #DBA;
  }
}

.flex-center {
  border-left: @border-small-value;
  border-right: @border-small-value;
  div {
    height: 25vw;
    width: 25vw;
    background: #CCC;
    .control-arrows {
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
  }
}

#track-name {
  text-align:  center;
}

#render-view {
  z-index: 1;
}
.player-hud {
  z-index: 3;
}
#leader-board {
  z-index: 5;
  background: rgba(45,120,200,0.3);
}
#loading-view {
  z-index: 8;
  background: purple;
}
#main {
  z-index: 10;
  background: white;
}

#render-canvas {
  width   : 100%;
  height  : 100%;
  touch-action: none;
}


.player-box {
  outline: 1px red solid;
}
.player-box.full {
  height: 100vh;
  width: 100vw;
}
.player-box.half-full {
  height: 100vh;
  width: 50vw;
}
.player-box.quarter-full {
  height: 50vh;
  width: 50vw;
}